@import "tailwindcss";

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueMediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue/HelveticaNeueBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

:root {
  --background: #060410;
  --foreground: #ffffff;
}

@theme inline {
  --color-dark: #060410;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Helvetica Neue", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
  --spacing-15: 3.75rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.text-gradient-goals {
  background: radial-gradient(6.59% 329.68% at 46.67% 86.96%, #DDDDDD 0%, #B0B0B0 100%);;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-hero {
  background: linear-gradient(190.36deg, #ECECEC -4.71%, #999999 196.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.px-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

/* Embla Carousel styles */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 auto;
  margin-right: 20px; /* Adds 20px space after each slide */
}
